/* Allgemeine CSS */
.background {
    background: #f0f0f2;
    background: linear-gradient(white, #f0f0f2);
}

.fontLuxKnives {
    font-family: "Montserrat Thin", serif;
}


.fontBigTitle {
    font-family: "Bebas Neue", serif;
    color: #D94B2B;
    mix-blend-mode: lighten;
    font-size: 12rem;
}

.btn-luxknives {
    background-color: #D94B2B;
    color: white;
}

.btn-luxknives:hover {
    background-color: #d9765f;
}


.row {
    --bs-gutter-x: 0;
}

/* Profilseite CSS */
.cardBioStyle {
    max-width: 45rem;
}


/* DETAILSEITE */

.nakiri {
    position: absolute;
    left: 2rem;
    font-size: 20rem;
    color: red;
    mix-blend-mode: lighten;
    font-family: "Bebas Neue", serif;
}
h1 {
    padding: 4rem;
    font-family: "Engebrechtre Rg", serif;
    text-align: center;
}



.scharf {
justify-content: center;
    color: #0d0d0d;
}

.kommentarBild > img{
    width: 5rem;
}
/* ÜBER UNS */
#überunsbild {
    width: 43.8rem;
    height: 30rem;
    Padding: 4rem;
}


/* FOOTER */
.luxKnivesFooterStyle {
    background-color: #0d0d0d;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #0d0d0d;
}

.nav-link {
    color: white;
}

.footer-item {
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: "Montserrat Thin", "serif";
    font-size: larger;
    align-content: center;

}

.btn {
    padding: 2px
}

.nav-link:focus, .nav-link:hover {
    color: #D94B2B;
}

#facebook {
    padding: 2rem;
    color: #D94B2B;
}

#instagram {
    padding: 2rem;
    color: #D94B2B;
}

#twitter {
    padding: 2rem;
    color: #D94B2B;
}

#youtube {
    padding: 2rem;
    color: #D94B2B;
}

/* Text auf Images */
.top-left {
    position: absolute;
    top: 2rem;
    left: 4rem;
    font-size: 12rem;
    color: red;
    mix-blend-mode: lighten;
    font-family: "Bebas Neue", serif;
}

.top-left2 {
    position: absolute;
    top: 11rem;
    left: 4rem;
    font-size: 12rem;
    color: red;
    mix-blend-mode: lighten;
    font-family: "Bebas Neue", serif;
}

.leftTransBox {
    position: absolute;
    top: 0rem;
    left: 0rem;
    font-size: 4rem;
    color: white;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    font-family: "Bebas Neue", serif;
}

.rightTransBox {
    position: absolute;
    top: 20rem;
    left: 65rem;
    font-size: 2rem;
    color: white;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    font-family: "Bebas Neue", serif;
}



/* NavLeiste CSS */
.nav {
    background-color: #0d0d0d;
}

.nav-link {
    color: #f0f0f2;
}

.nav-link:hover {
    color: #D94B2B;
}

/* Icon styling */
/* Service */

.calender-centered {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* CHECKOUT */
#checkout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid1 { grid-area: 1 / 1 / 2 / 2; }
.grid2 { grid-area: 1 / 2 / 2 / 3; }
.grid3 { grid-area: 1 / 3 / 2 / 4; }

/* Kalender */

tbody {
    background-color: white;
}

.calendar {
    text-align: center;
}

.calendar tbody td:hover {
    border: 2px solid #D94B2B;
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
}


.calendar .prev-month,
.calendar .next-month {
    color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.current-day {
    background: #f0f0f2;
    color: #595859;
}

.event {
    cursor: pointer;
    position: relative;
}

.kalendar {
    width: 30rem;
}

.btn-secondary {
    width: 60rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    color: #595859;
}

.btn-secondary:hover {
    background-color:#D94B2B;
}
.dropdown-toggle {
    align-items: flex-end;
}

/* Bearbeiten Button CSS */

.bearbeitenButtonBR {
    position: absolute;
    left: 90rem;
    top: 50rem;
}
.bearbeitenButtonBL {
    position: absolute;
    left: 1rem;
    top: 50rem;
}
.bearbeitenButtonBM {
    position: absolute;
    left: 45rem;
    top: 50rem;
}


/* Icon SVG CSS */

.icon-centered {
    justify-content: center;
    align-items: center;
    display: flex;
}

.icon-style {
    filter: invert(0) brightness(5);
    width: 1.5rem;
}

.icon-style:hover {
    filter: invert(57%) sepia(65%) saturate(6269%) hue-rotate(345deg) brightness(88%) contrast(91%);

}


.icon-style2 {
    filter: invert(100%) sepia(60%) saturate(0%) hue-rotate(180deg) brightness(103%) contrast(90%);
    width: 2.5rem;
}




























































































































#formLogin,#formRegistrieren,#formKontakt,#feedbackRegistrieren{

    padding-left: 5rem;
    padding-right: 5rem;
}
#formBereitsKunde,#formRechnungsAdresse,#formZahlungsart{
    padding-left: 3rem;
    padding-right: 3rem;
}