/* Allgemeine CSS */
.background {
    background: #f0f0f2;
    background: linear-gradient(white, #f0f0f2);
}

.fontLuxKnives {
    font-family: "Montserrat Thin", serif;
}

.fontBigTitle {
    font-family: "Bebas Neue", serif;
    color: #D94B2B;
    mix-blend-mode: lighten;
    font-size: 12rem;
}
/* DETAILSEITE */

.nakiri {
    position: absolute;
    left: 2rem;
    font-size: 20rem;
    color: red;
    mix-blend-mode: lighten;
    font-family: "Bebas Neue", serif;
}
h1 {
    padding: 4rem;
    font-family: "Engebrechtre Rg", serif;
    text-align: center;
}

.btn-luxknives {
    background-color: #D94B2B;
    color: white;
}

.scharf {
justify-content: center;
    color: #0d0d0d;
}
/* ÜBER UNS */
#überunsbild {
    width: 43.8rem;
    height: 30rem;
    Padding: 4rem;
}


/* FOOTER */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #0d0d0d;
}

.nav-link {
    color: white;
}

.footer-item {
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: "Montserrat Thin", "serif";
    font-size: larger;
    align-content: center;

}

.btn {
    padding: 2px
}

.nav-link:focus, .nav-link:hover {
    color: #D94B2B;
}

#facebook {
    padding: 2rem;
    color: #D94B2B;
}

#instagram {
    padding: 2rem;
    color: #D94B2B;
}

#twitter {
    padding: 2rem;
    color: #D94B2B;
}

#youtube {
    padding: 2rem;
    color: #D94B2B;
}

/* Text auf Images */
.top-left {
    position: absolute;
    top: 2rem;
    left: 4rem;
    font-size: 12rem;
    color: red;
    mix-blend-mode: lighten;
    font-family: "Bebas Neue", serif;
}

.top-left2 {
    position: absolute;
    top: 11rem;
    left: 4rem;
    font-size: 12rem;
    color: red;
    mix-blend-mode: lighten;
    font-family: "Bebas Neue", serif;
}

.leftTransBox {
    position: absolute;
    top: 0rem;
    left: 0rem;
    font-size: 4rem;
    color: white;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    font-family: "Bebas Neue", serif;
}

.rightTransBox {
    position: absolute;
    top: 20rem;
    left: 65rem;
    font-size: 2rem;
    color: white;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    font-family: "Bebas Neue", serif;
}



/* NavLeiste CSS */
.nav {
    background-color: #0d0d0d;
}

.nav-link {
    color: #f0f0f2;
}

.nav-link:hover {
    color: #D94B2B;
}

