/* Allgemeine CSS */
.background {
    background: #f0f0f2;
    background: linear-gradient(white, #f0f0f2);
}

.fontLuxKnives {
    font-family: "Montserrat Thin", serif;
}

.fontBigTitle {
    font-family: "Bebas Neue", serif;
    color: #D94B2B;
    mix-blend-mode: lighten;
    font-size: 12rem;
}

/* Text auf Images */
.top-left {
    position: absolute;
    top: 2rem;
    left: 4rem;
    font-size: 12rem;
    color: red;
    mix-blend-mode: lighten;
    font-family: "Bebas Neue", serif;
}

.top-left2 {
    position: absolute;
    top: 11rem;
    left: 4rem;
    font-size: 12rem;
    color: red;
    mix-blend-mode: lighten;
    font-family: "Bebas Neue", serif;
}

.leftTransBox {
    position: absolute;
    top: 0rem;
    left: 0rem;
    font-size: 4rem;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    font-family: "Bebas Neue", serif;
}


/* NavLeiste CSS */
.nav {
    background-color: #0d0d0d;
}

.nav-link {
    color: #f0f0f2;
}

.nav-link:hover {
    color: #D94B2B;
}

